{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title text-center">{% trans "Sign Up" %}</h3>
          <p class="text-center">{% blocktrans %}
            Welcome back to Baron Barbershop.
            Do you already have an account? Then please
            <a class="link" href="{{ login_url }}">sign in</a>
            instead.
          {% endblocktrans %}</p>

          <form class="signup-form mt-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="form-group">
              {{ form.as_p }}
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="text-center">
              <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}