/* navbar */
.navbar {
    min-height: 90px; 
}

.navbar-brand {
    font-size: 40px; 
    font-family: 'Annapurna SIL', sans-serif;
}

.navbar-text{
    font-family:'Annapurna SIL', sans-serif;
    font-size: 20px;
}

.navbar-brand,
.navbar-nav .nav-link {
    line-height: 100px; 
}

.navbar-light .navbar-text {
    color: white;}


    

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-item.active .nav-link,
.navbar-light .navbar-nav .nav-link:visited {
    color: white; 
    }


    /* footer */
.dark-bg {
    background-color: #343a40; 
    }
footer {margin: auto;
width: 100%;
margin-bottom: 0;
font-family: 'Annapurna SIL', sans-serif;
font-size: 20px;}

body {height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgray;
    
}

.card {
    border: none;
    background-color: lightgray;
}

.author {
    color: black;
    margin: 4px;
    text-transform: uppercase;
}


.post-link{
    color: darkblue;
}

.post-link:hover,
.page-link {
    color: black;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}
