{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4 text-center">
       <!-- Check if profile image exists, if not, use a placeholder image -->
      {% if "placeholder" in about.profile_image.url %}
      <img src="{% static 'images/baronB.png' %}" alt="placeholder image">
      {% else %}
      <!-- Otherwise, display the profile image -->
      <img src="{{ about.profile_image.url }}" alt="{{ about.title }}">
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- Title goes here -->
      <h2>{{ about.title }}</h2>
      <!-- Content goes here -->
      {{ about.content | safe }}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes here -->
      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}